@tailwind base;
@tailwind components;
@tailwind utilities;

/* .btn {
  @apply py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-500;
}

.card {
  @apply rounded overflow-hidden shadow-lg;
}

.btn-red {
  @apply rounded bg-red-500 text-white;
}

.btn-red:hover {
  @apply bg-red-200;
}

.escritorio {
  @apply text-white bg-red-900;
} */

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mBackground-image {
  background-image: url(img/hero_backgroud.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services_shadows {
  border-radius: 50px;
  background: #d9185f;
  box-shadow: -25px -25px 50px #9a1143, 25px 25px 50px #ff1f7b;
}


